<!DOCTYPE html>
<html>
    <head>
 
 
    </head>
    <body>
        <h1>UQ Hair</h1>      
        <p>Hi {{appointment["c_name"]}},</p>
        <p>Looking forward to seeing you soon for your appointment!</p>
        <table>
            <caption>Your Appointment:</caption>
            <tr> <td>Date:</td> <td>{{appointment["date"]}}</td> </tr>
            <tr> <td>Time:</td> <td>{{appointment["time"]}}</td> </tr>
            <tr> <td>Staff:</td> </td> <td>{{appointment["s_name"]}}</td> </tr>
        </table>
        <p>See you then!</p>
    </body>
</html>